button a {
    text-decoration: none;
    color: var(--light-text);
}

button {
    display: block;
    background-color: #F47D0E;
    border: 1px solid  #F47D0E;
    border-radius: 3px;
    width: 200px;
    height: 60px;
    margin: 20px auto;
}

button:hover {
    background-color: #ff5e00;
    border: 1px solid  #ff5e00;
    transition: 0.5s;
}